In [2]:
from random import randint
import numpy as np
import pandas as pd
#pd.set_option('display.max_rows', 501)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from scipy.stats import norm
from statistics import mean
from math import sqrt
import glob

## Generate Predictions

In [37]:
# Generates n predictions, given parameter values of the population/summary models
def make_n_predictions(n, mu, sigma_dom, sigma_ndom):
    # List of predictions
    pop_acc = []
    sum_acc = []
    pop_p = []
    sum_p = []

    # Generate n predictions
    for i in range(n):
        # Dom and nonDom activations
        D = np.random.normal(0, sigma_dom, 1)
        N = np.random.normal(mu, sigma_ndom, 3)
        
        # Find maximum activation
        allAct = list(D) + list(N)
        M = max(allAct)

        # Discrete uniform J
        J = randint(0,2)
        
        # Population Model
        if D > N[J]:
            pop_acc.append(1)
            pop_p.append(1)
        else:
            pop_acc.append(0)
            pop_p.append(0)

        # Summary Model
        if D == M:
            acc = 1
            p = 1
        elif N[J] == M:
            acc = 0
            p = 0
        elif (D != M) & (N[J] != M):
            acc = np.random.binomial(n=1, p=0.5)
            p = 0.5
        sum_acc.append(acc)
        sum_p.append(p)
    
    # After generating n predictions, append all predictions to a dataframe
    df = pd.DataFrame()
    df['pop_acc'] = pop_acc
    df['sum_acc'] = sum_acc
    df['pop_p'] = pop_p
    df['sum_p'] = sum_p
    return df

# Runs the code to generate predictions
def run_predictions(path, experimentPart):
    # Just some useful strings for naming files
    if experimentPart == 'Yeon-Rahnev':
        end_fname = '_yr_predictions.csv'
        expPart_str = 'yr'
    else:
        end_fname = '_mixed_predictions.csv'
        expPart_str = 'mixed'
    
    # A summary dataframe containing every participant's observed accuracy and predicted accuracies
    all_mean_preds = pd.DataFrame(
        columns=[
            'participant',
            'experimentPart',
            'observed_acc',
            'observed_acc_std',
            'pop_acc',
            'sum_acc',
            'std_pop_acc',
            'std_sum_acc',
            'ttest_pop_ver_obs',
            'ttest_sum_ver_obs',
        ]
    )
    
    # Put all participants' 2-alt data and posterior samples in a list of dataframes
    all_dfs = []
    temp = path + '*_' + expPart_str + '_2-alt-with-dom.csv'
    fnames_2alt = sorted(glob.glob(temp))
    print(fnames_2alt)
    
    temp = '/Users/andrew/Documents/CogSci Thesis/' + expPart_str + '_4-alt_data/model_fitting/*_' + expPart_str + '_posterior_samples.csv'
    fnames_posterior = sorted(glob.glob(temp))
    print(fnames_posterior)

    for f2alt, fpost in zip(fnames_2alt, fnames_posterior):
        df_2alt = pd.read_csv(f2alt)
        df_post = pd.read_csv(fpost)

        # Take every 1000th row of the posterior samples. Any more, and it takes very long
        df_post = df_post.iloc[::1000, :]

        elem = (df_2alt, df_post)
        all_dfs.append(elem)
        
    print('There are', len(all_dfs), 'datasets.')

    # Number of predictions 
    n = 100000
    
    # Generate n predictions for every participant
    for df_2alt, df_post in all_dfs:
        participant = str(df_2alt['participant'].iloc[2])
        
        # Mean parameter values, based on posterior samples
        mu_mean = df_post['mu'].mean()
        sigma_dom_mean = df_post['sigma_dom'].mean()
        sigma_ndom_mean = df_post['sigma_ndom'].mean()
        
        # Generate n predictions and save in csv
        df_pred = make_n_predictions(n, mu_mean, sigma_dom_mean, sigma_ndom_mean)
        fname = path + 'model_predictions/' + participant + end_fname
        df_pred.to_csv(fname)

        # Get accuracies and standard deviations of predictions
        pop_acc = df_pred['pop_acc'].mean()
        sum_acc = df_pred['sum_acc'].mean()
        std_pop_acc = df_pred['pop_acc'].std()
        std_sum_acc = df_pred['sum_acc'].std()

        # Print accuracies and standard deviations of predictions
        print('pop_acc:', pop_acc, ',', 'std:', std_pop_acc)
        print('sum_acc:', sum_acc, ',', 'std:', std_sum_acc)
        display(df_pred)

        # Get actual observed accuracies
        observed = df_2alt['accuracy'].mean()
        observed_std = df_2alt['accuracy'].std()

        # t-tests between observed accuracies and predicted accuracies
        import scipy.stats as stats
        _, pop_ver_obs = stats.ttest_ind(df_2alt['accuracy'], df_pred['pop_acc'])
        _, sum_ver_obs = stats.ttest_ind(df_2alt['accuracy'], df_pred['sum_acc'])

        # Append all relevant information to the summary dataframe
        all_mean_preds.loc[len(all_mean_preds.index)] = [
            participant,
            experimentPart,
            observed,
            observed_std,
            pop_acc,
            sum_acc,
            std_pop_acc,
            std_sum_acc,
            pop_ver_obs,
            sum_ver_obs
        ]

    # Save the summary dataframe
    fname = path + 'model_predictions/all' + end_fname
    all_mean_preds.to_csv(fname)

path = '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/'
experimentPart = 'Yeon-Rahnev'
run_predictions(path, experimentPart)

path = '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/'
experimentPart = 'Mixed'
run_predictions(path, experimentPart)

['/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/10_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/11_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/12_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/13_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/14_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/15_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/16_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/1_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/3_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/4_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/5_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/6_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/7_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/8_yr_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/yr_2-alt-with-dom_data/9_yr_2-alt-with-dom.csv']
['/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/10_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/11_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/12_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/13_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/14_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/15_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/16_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/1_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/3_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/4_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/5_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/6_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/7_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/8_yr_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/9_yr_posterior_samples.csv']
There are 15 datasets.
pop_acc: 0.77518 , std: 0.4174658194115646
sum_acc: 0.71684 , std: 0.45053573024170834

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    0.5

[100000 rows x 4 columns]

pop_acc: 0.80517 , std: 0.39607176095837143
sum_acc: 0.75473 , std: 0.4302493210276465

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    0.5
1            0        1      0    0.5
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        0      1    0.5
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.75612 , std: 0.4294233221940779
sum_acc: 0.70337 , std: 0.4567742653950554

       pop_acc  sum_acc  pop_p  sum_p
0            1        0      1    0.5
1            1        0      1    0.5
2            0        0      0    0.0
3            1        1      1    1.0
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        0        0      0    0.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.75656 , std: 0.4291605855477929
sum_acc: 0.68937 , std: 0.4627538703369593

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.0
1            0        0      0    0.0
2            0        0      0    0.0
3            1        1      1    1.0
4            1        1      1    0.5
...        ...      ...    ...    ...
99995        0        0      0    0.5
99996        1        1      1    1.0
99997        0        0      0    0.0
99998        1        0      1    0.5
99999        1        1      1    0.5

[100000 rows x 4 columns]

pop_acc: 0.67623 , std: 0.46791577933605416
sum_acc: 0.6253 , std: 0.48404777968967727

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    0.5
1            0        0      0    0.5
2            1        1      1    0.5
3            1        1      1    1.0
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        1        1      1    0.5
99996        1        1      1    0.5
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.74166 , std: 0.43772406881912573
sum_acc: 0.68352 , std: 0.46510490518356395

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.5
1            1        1      1    1.0
2            1        1      1    1.0
3            0        0      0    0.0
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        1        1      1    0.5
99996        0        0      0    0.0
99997        0        1      0    0.5
99998        1        1      1    0.5
99999        0        0      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.62859 , std: 0.48318417458531204
sum_acc: 0.58661 , std: 0.4924440403852055

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.5
1            1        1      1    0.5
2            1        1      1    0.5
3            1        1      1    1.0
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        0        0      0    0.0
99996        0        0      0    0.0
99997        1        1      1    1.0
99998        0        0      0    0.5
99999        0        0      0    0.0

[100000 rows x 4 columns]

pop_acc: 0.85838 , std: 0.34866171463199547
sum_acc: 0.82167 , std: 0.3827922104731252

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            0        0      0    0.0
2            1        1      1    1.0
3            1        1      1    1.0
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        0        0      0    0.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.82484 , std: 0.38010580001407024
sum_acc: 0.76577 , std: 0.4235187136136708

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        0        0      0    0.0
99999        0        0      0    0.0

[100000 rows x 4 columns]

pop_acc: 0.86944 , std: 0.336920200570271
sum_acc: 0.81182 , std: 0.39085779421472633

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    0.5
...        ...      ...    ...    ...
99995        1        1      1    0.5
99996        0        0      0    0.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.67699 , std: 0.46762883429823565
sum_acc: 0.61698 , std: 0.4861255422011107

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.0
1            1        1      1    1.0
2            1        1      1    1.0
3            0        0      0    0.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    0.5
99996        0        0      0    0.5
99997        0        0      0    0.0
99998        0        1      0    0.5
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.71247 , std: 0.45261302200145714
sum_acc: 0.64589 , std: 0.4782451202927719

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        0      1    0.5
3            0        0      0    0.0
4            1        1      1    0.5
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        0        0      0    0.0
99997        0        0      0    0.0
99998        1        1      1    1.0
99999        0        0      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.73377 , std: 0.44198816798102053
sum_acc: 0.66309 , std: 0.4726562026871875

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        0      1    0.5
3            1        1      1    1.0
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        1        0      1    0.5
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        0      1    0.5

[100000 rows x 4 columns]

pop_acc: 0.58725 , std: 0.49233104858281257
sum_acc: 0.54514 , std: 0.4979607013090231

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.0
1            1        0      1    0.5
2            0        0      0    0.5
3            0        0      0    0.0
4            1        0      1    0.5
...        ...      ...    ...    ...
99995        0        0      0    0.0
99996        0        0      0    0.0
99997        1        1      1    1.0
99998        0        0      0    0.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.78957 , std: 0.4076160897321768
sum_acc: 0.74534 , std: 0.4356721043421746

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        0      1    0.5
4            1        1      1    0.5
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    0.5
99999        1        1      1    1.0

[100000 rows x 4 columns]

['/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/10_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/11_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/12_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/13_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/14_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/15_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/16_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/1_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/3_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/4_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/5_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/6_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/7_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/8_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/9_mixed_2-alt-with-dom.csv']
['/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/10_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/11_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/12_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/13_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/14_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/15_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/16_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/1_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/3_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/4_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/5_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/6_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/7_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/8_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/9_mixed_posterior_samples.csv']
There are 15 datasets.
pop_acc: 0.6627 , std: 0.47279059350799013
sum_acc: 0.61405 , std: 0.48682128902680155

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            0        0      0    0.0
2            0        1      0    0.5
3            0        0      0    0.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    0.5
99996        1        1      1    1.0
99997        0        0      0    0.5
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.79172 , std: 0.40608015293879307
sum_acc: 0.7353 , std: 0.4411755391664201

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    0.5
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.76161 , std: 0.42610095461106606
sum_acc: 0.71282 , std: 0.45244855475147383

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    0.5
...        ...      ...    ...    ...
99995        0        1      0    0.5
99996        1        1      1    1.0
99997        0        0      0    0.0
99998        1        1      1    1.0
99999        1        1      1    0.5

[100000 rows x 4 columns]

pop_acc: 0.59344 , std: 0.4911938304925893
sum_acc: 0.57538 , std: 0.49428766806654506

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.0
1            0        0      0    0.5
2            0        1      0    0.5
3            0        0      0    0.5
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        0        0      0    0.5
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        0        0      0    0.5
99999        0        0      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.70506 , std: 0.4560180653489181
sum_acc: 0.6335 , std: 0.48185067375757623

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            0        0      0    0.5
2            1        1      1    1.0
3            1        0      1    0.5
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        0        0      0    0.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.68191 , std: 0.46573696547423443
sum_acc: 0.62984 , std: 0.4828497756437781

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            0        1      0    0.5
2            1        1      1    1.0
3            1        0      1    0.5
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        0        0      0    0.0
99996        1        1      1    1.0
99997        0        0      0    0.0
99998        1        1      1    1.0
99999        0        1      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.61536 , std: 0.4865125253723566
sum_acc: 0.5753 , std: 0.49429986174775936

       pop_acc  sum_acc  pop_p  sum_p
0            1        0      1    0.5
1            1        1      1    1.0
2            1        1      1    0.5
3            1        0      1    0.5
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        0        0      0    0.5
99996        1        1      1    1.0
99997        1        1      1    0.5
99998        1        1      1    1.0
99999        0        1      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.81852 , std: 0.38541729990367085
sum_acc: 0.76078 , std: 0.426609436787513

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        1      1    1.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        0        0      0    0.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    0.5

[100000 rows x 4 columns]

pop_acc: 0.76177 , std: 0.4260026782573773
sum_acc: 0.70469 , std: 0.45618426643258836

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.5
1            1        1      1    0.5
2            0        1      0    0.5
3            1        1      1    1.0
4            1        1      1    0.5
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        0        0      0    0.0
99997        1        1      1    0.5
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.58999 , std: 0.49183759407169597
sum_acc: 0.56929 , std: 0.49517809716657923

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.0
1            1        1      1    1.0
2            1        1      1    1.0
3            1        1      1    0.5
4            0        1      0    0.5
...        ...      ...    ...    ...
99995        1        0      1    0.5
99996        0        0      0    0.0
99997        1        1      1    0.5
99998        1        0      1    0.5
99999        0        1      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.73105 , std: 0.44341612924966267
sum_acc: 0.67605 , std: 0.4679835334556949

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            0        0      0    0.5
2            1        1      1    1.0
3            0        0      0    0.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        0        0      0    0.0
99998        0        1      0    0.5
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.69729 , std: 0.4594330927211701
sum_acc: 0.64349 , std: 0.4789706818058854

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            1        1      1    1.0
2            1        1      1    1.0
3            0        1      0    0.5
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        0        1      0    0.5
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.63976 , std: 0.48007233527247495
sum_acc: 0.60114 , std: 0.4896663130446628

       pop_acc  sum_acc  pop_p  sum_p
0            0        0      0    0.5
1            1        1      1    1.0
2            1        1      1    1.0
3            0        0      0    0.5
4            0        0      0    0.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

pop_acc: 0.60308 , std: 0.4892615940056512
sum_acc: 0.57892 , std: 0.49373481884594994

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    0.5
1            1        1      1    1.0
2            1        0      1    0.5
3            1        1      1    1.0
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    1.0
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        0        1      0    0.5

[100000 rows x 4 columns]

pop_acc: 0.77775 , std: 0.41576034691491354
sum_acc: 0.7125 , std: 0.4525989377563269

       pop_acc  sum_acc  pop_p  sum_p
0            1        1      1    1.0
1            0        0      0    0.5
2            1        1      1    1.0
3            0        0      0    0.5
4            1        1      1    1.0
...        ...      ...    ...    ...
99995        1        1      1    1.0
99996        1        1      1    0.5
99997        1        1      1    1.0
99998        1        1      1    1.0
99999        1        1      1    1.0

[100000 rows x 4 columns]

## Calculate log-likelihood

In [50]:
# Calculates the likelihood of a trial, given a row of posterior samples
def trial_likelihood(y, mu, sigma_dom, sigma_ndom, model):
    # Sigma of X distribution
    new_sigma = sqrt(sigma_dom**2 + sigma_ndom**2)
    
    # Calculate CDFs of X and Z, given row of posterior samples
    X = norm(0-mu, new_sigma).cdf(0)
    Z = norm(0, sigma_ndom*sqrt(2)).cdf(0)
    
    # Population Model
    if model == 'pop':
        p = X*(1/3)
        if y == 0:
            p = 1 - X
      
    # Summary Model
    elif model == 'sum':
        p = X**3 + (1-X)*((Z)**2)*(1/2)
        if y == 0:
            p = 1 - p
     
    # Return trial likelihood
    return p

# Calculates mean likelihood of a trial, across all posterior samples
def mean_trial_likelihood(y, posterior_samples, model):
    # Get columns of posterior samples in order to...
    mu_col = posterior_samples['mu']
    sigma_dom_col = posterior_samples['sigma_dom']
    sigma_ndom_col = posterior_samples['sigma_ndom']
    
    # ... generate a likelihood for every row of the columns
    p = [trial_likelihood(y,mu,sigma_dom,sigma_ndom, model) for mu,sigma_dom,sigma_ndom in zip(mu_col,sigma_dom_col,sigma_ndom_col)]
    
    # Return mean of the likelihoods of a single trial
    return mean(p)
    
# Calculates log-likelihood of a model, given observed data
def log_likelihood(df, posterior_samples, model):
    # Generate mean likelihood for every trial
    df['L_bar'] = [mean_trial_likelihood(y, posterior_samples, model) for y in df['accuracy']]
    
    # Take log of the mean likelihood column
    df['log_L'] = np.log(df['L_bar'])
    display(df)
    
    # Sum the log-likelihood column
    return df['log_L'].sum()

# Runs the likelihood functions
def run_likelihood(path, experimentPart):
    # Useful strings for naming files
    if experimentPart == 'Yeon-Rahnev':
        end_fname = '_yr_predictions.csv'
        expPart_str = 'yr'
    else:
        end_fname = '_mixed_predictions.csv'
        expPart_str = 'mixed'
    
    # Put all participants' 2-alt data and posterior samples in a list of dataframes
    all_dfs = []
    temp = '/Users/andrew/Documents/CogSci Thesis/' + expPart_str + '_2-alt-with-dom_data/' + '*_' + expPart_str + '_2-alt-with-dom.csv'
    fnames_2alt = sorted(glob.glob(temp))
    print(fnames_2alt)
    temp = '/Users/andrew/Documents/CogSci Thesis/' + expPart_str + '_4-alt_data/model_fitting/*_' + expPart_str + '_posterior_samples.csv'
    fnames_posterior = sorted(glob.glob(temp))
    print(fnames_posterior)
    
    for f2alt, fpost in zip(fnames_2alt, fnames_posterior):
        df_2alt = pd.read_csv(f2alt)
        df_post = pd.read_csv(fpost)

        # Take every 1000th row of the posterior samples. Any more, and it takes very long
        df_post = df_post.iloc[::1000, :]

        elem = (df_2alt, df_post)
        all_dfs.append(elem)

    print('There are', len(all_dfs), 'datasets.')

    # A summary dataframe containing every participants' model log-likelihoods, and normalized log-likelihoods
    all_likelihoods = pd.DataFrame(
        columns=[
            'participant', 
            'population_log_likelihood', 
            'summary_log_likelihood',
            'n_2-alt-with-dom_trials',
            'pop_log_likelihood/n',
            'sum_log_likelihood/n',
        ])

    # Generate log-likelihoods for every participant
    for df_2alt, df_post in all_dfs:
        # Log-likelihoods
        pop_log_likelihood = log_likelihood(df_2alt, df_post, model='pop')
        sum_log_likelihood = log_likelihood(df_2alt, df_post, model='sum')

        # Print them
        print(pop_log_likelihood)
        print(sum_log_likelihood)

        # Append all relevant information to summary dataframe
        participant = df_2alt['participant'].iloc[2]
        n_2alt_trials = len(df_2alt.index)
        all_likelihoods.loc[len(all_likelihoods.index)] = [
            participant, 
            pop_log_likelihood, 
            sum_log_likelihood,
            n_2alt_trials,
            pop_log_likelihood/n_2alt_trials,
            sum_log_likelihood/n_2alt_trials
        ]

    # Save summary dataframe
    fname = path + 'log_likelihoods.csv'
    all_likelihoods.to_csv(fname)

path = '/Users/andrew/Documents/CogSci Thesis/yr_4-alt_data/model_fitting/'
run_likelihood(path, 'Yeon-Rahnev')   
    
path = '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/'
run_likelihood(path, 'Mixed')

['/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/10_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/11_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/12_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/13_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/14_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/15_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/16_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/1_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/3_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/4_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/5_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/6_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/7_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/8_mixed_2-alt-with-dom.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_2-alt-with-dom_data/9_mixed_2-alt-with-dom.csv']
['/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/10_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/11_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/12_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/13_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/14_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/15_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/16_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/1_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/3_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/4_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/5_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/6_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/7_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/8_mixed_posterior_samples.csv', '/Users/andrew/Documents/CogSci Thesis/mixed_4-alt_data/model_fitting/9_mixed_posterior_samples.csv']
There are 15 datasets.

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,578,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",10,0.117879,-2.138098
1,580,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['green', 'red']",10,0.646363,-0.436394
2,582,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",10,0.117879,-2.138098
3,585,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",10,0.117879,-2.138098
4,586,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",10,0.117879,-2.138098
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1137,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",10,0.117879,-2.138098
188,1144,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'red']",10,0.646363,-0.436394
189,1145,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",10,0.117879,-2.138098
190,1149,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",10,0.646363,-0.436394
191,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",10,0.117879,-2.138098

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,578,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",10,0.126501,-2.067506
1,580,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['green', 'red']",10,0.873499,-0.135248
2,582,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",10,0.126501,-2.067506
3,585,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",10,0.126501,-2.067506
4,586,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",10,0.126501,-2.067506
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1137,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",10,0.126501,-2.067506
188,1144,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'red']",10,0.873499,-0.135248
189,1145,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",10,0.126501,-2.067506
190,1149,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",10,0.873499,-0.135248
191,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",10,0.126501,-2.067506

-349.2533806111822
-327.39985400835945

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,5,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",11,0.075139,-2.588416
1,10,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",11,0.075139,-2.588416
2,15,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",11,0.075139,-2.588416
3,16,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['red', 'blue']",11,0.774583,-0.255430
4,19,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",11,0.075139,-2.588416
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,560,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",11,0.774583,-0.255430
187,561,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",11,0.075139,-2.588416
188,565,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",11,0.075139,-2.588416
189,566,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",11,0.075139,-2.588416
190,571,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",11,0.075139,-2.588416

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,5,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",11,0.109045,-2.215994
1,10,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",11,0.109045,-2.215994
2,15,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",11,0.109045,-2.215994
3,16,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['red', 'blue']",11,0.890955,-0.115461
4,19,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",11,0.109045,-2.215994
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,560,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",11,0.890955,-0.115461
187,561,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",11,0.109045,-2.215994
188,565,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",11,0.109045,-2.215994
189,566,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",11,0.109045,-2.215994
190,571,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",11,0.109045,-2.215994

-422.0649056964294
-358.13827856187277

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,584,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",12,0.085434,-2.460006
1,587,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",12,0.085434,-2.460006
2,590,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",12,0.085434,-2.460006
3,592,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'red']",12,0.743697,-0.296122
4,593,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",12,0.085434,-2.460006
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1133,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",12,0.085434,-2.460006
188,1137,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",12,0.085434,-2.460006
189,1138,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",12,0.085434,-2.460006
190,1140,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",12,0.085434,-2.460006
191,1144,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",12,0.085434,-2.460006

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,584,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",12,0.11054,-2.20238
1,587,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",12,0.11054,-2.20238
2,590,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",12,0.11054,-2.20238
3,592,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'red']",12,0.88946,-0.11714
4,593,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",12,0.11054,-2.20238
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1133,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",12,0.11054,-2.20238
188,1137,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",12,0.11054,-2.20238
189,1138,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",12,0.11054,-2.20238
190,1140,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",12,0.11054,-2.20238
191,1144,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",12,0.11054,-2.20238

-411.73234400843864
-364.4702808402317

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,10,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",13,0.137548,-1.983783
1,12,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",13,0.137548,-1.983783
2,13,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",13,0.137548,-1.983783
3,14,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",13,0.137548,-1.983783
4,16,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",13,0.137548,-1.983783
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,566,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['white', 'green']",13,0.587356,-0.532123
187,568,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",13,0.137548,-1.983783
188,570,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",13,0.137548,-1.983783
189,573,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",13,0.587356,-0.532123
190,575,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",13,0.137548,-1.983783

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,10,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",13,0.145156,-1.929946
1,12,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",13,0.145156,-1.929946
2,13,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",13,0.145156,-1.929946
3,14,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",13,0.145156,-1.929946
4,16,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",13,0.145156,-1.929946
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,566,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['white', 'green']",13,0.854844,-0.156836
187,568,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",13,0.145156,-1.929946
188,570,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",13,0.145156,-1.929946
189,573,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",13,0.854844,-0.156836
190,575,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",13,0.145156,-1.929946

-316.4812601641403
-292.37597239195406

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,577,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",14,0.104961,-2.254168
1,579,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",14,0.104961,-2.254168
2,580,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['green', 'blue']",14,0.685117,-0.378165
3,582,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",14,0.104961,-2.254168
4,587,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",14,0.104961,-2.254168
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,1135,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",14,0.104961,-2.254168
187,1140,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['white', 'green']",14,0.685117,-0.378165
188,1149,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",14,0.104961,-2.254168
189,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['white', 'green']",14,0.685117,-0.378165
190,1151,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",14,0.104961,-2.254168

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,577,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",14,0.118206,-2.135328
1,579,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",14,0.118206,-2.135328
2,580,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['green', 'blue']",14,0.881794,-0.125797
3,582,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",14,0.118206,-2.135328
4,587,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",14,0.118206,-2.135328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,1135,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",14,0.118206,-2.135328
187,1140,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['white', 'green']",14,0.881794,-0.125797
188,1149,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",14,0.118206,-2.135328
189,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,0.0,"['white', 'green']",14,0.881794,-0.125797
190,1151,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",14,0.118206,-2.135328

-372.38998534684777
-345.5522269049113

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,2,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",15,0.106858,-2.236259
1,8,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",15,0.106858,-2.236259
2,11,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",15,0.106858,-2.236259
3,13,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",15,0.106858,-2.236259
4,15,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",15,0.106858,-2.236259
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,565,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",15,0.106858,-2.236259
187,567,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",15,0.106858,-2.236259
188,572,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",15,0.106858,-2.236259
189,573,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",15,0.106858,-2.236259
190,575,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",15,0.106858,-2.236259

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,2,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",15,0.11903,-2.128377
1,8,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",15,0.11903,-2.128377
2,11,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",15,0.11903,-2.128377
3,13,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",15,0.11903,-2.128377
4,15,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",15,0.11903,-2.128377
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,565,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",15,0.11903,-2.128377
187,567,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",15,0.11903,-2.128377
188,572,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",15,0.11903,-2.128377
189,573,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",15,0.11903,-2.128377
190,575,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",15,0.11903,-2.128377

-358.68451973462766
-332.4591614983519

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,577,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",16,0.131236,-2.030756
1,578,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",16,0.606291,-0.500395
2,583,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",16,0.131236,-2.030756
3,587,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",16,0.131236,-2.030756
4,592,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",16,0.131236,-2.030756
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,1144,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",16,0.131236,-2.030756
187,1145,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",16,0.131236,-2.030756
188,1147,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['red', 'blue']",16,0.606291,-0.500395
189,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",16,0.131236,-2.030756
190,1151,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",16,0.131236,-2.030756

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,577,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",16,0.138189,-1.979131
1,578,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",16,0.861811,-0.148720
2,583,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",16,0.138189,-1.979131
3,587,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",16,0.138189,-1.979131
4,592,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",16,0.138189,-1.979131
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,1144,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",16,0.138189,-1.979131
187,1145,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",16,0.138189,-1.979131
188,1147,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['red', 'blue']",16,0.861811,-0.148720
189,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",16,0.138189,-1.979131
190,1151,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",16,0.138189,-1.979131

-314.4170538445792
-290.1542939723163

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,3,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",1,0.068846,-2.675884
1,5,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['white', 'blue']",1,0.793462,-0.231349
2,14,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",1,0.068846,-2.675884
3,19,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",1,0.068846,-2.675884
4,20,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['green', 'red']",1,0.793462,-0.231349
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,554,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",1,0.068846,-2.675884
188,558,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",1,0.068846,-2.675884
189,560,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",1,0.068846,-2.675884
190,563,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",1,0.068846,-2.675884
191,572,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",1,0.068846,-2.675884

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,3,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",1,0.108485,-2.221140
1,5,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['white', 'blue']",1,0.891515,-0.114833
2,14,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",1,0.108485,-2.221140
3,19,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",1,0.108485,-2.221140
4,20,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['green', 'red']",1,0.891515,-0.114833
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,554,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",1,0.108485,-2.221140
188,558,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",1,0.108485,-2.221140
189,560,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",1,0.108485,-2.221140
190,563,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",1,0.108485,-2.221140
191,572,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",1,0.108485,-2.221140

-447.76725087182933
-369.5885297040753

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,2,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",3,0.085968,-2.453778
1,3,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",3,0.085968,-2.453778
2,6,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.085968,-2.453778
3,7,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",3,0.085968,-2.453778
4,12,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.085968,-2.453778
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,561,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['white', 'blue']",3,0.742095,-0.298278
188,564,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",3,0.085968,-2.453778
189,565,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.085968,-2.453778
190,571,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",3,0.085968,-2.453778
191,574,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.085968,-2.453778

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,2,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",3,0.110814,-2.199902
1,3,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",3,0.110814,-2.199902
2,6,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.110814,-2.199902
3,7,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",3,0.110814,-2.199902
4,12,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.110814,-2.199902
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,561,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['white', 'blue']",3,0.889186,-0.117449
188,564,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",3,0.110814,-2.199902
189,565,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.110814,-2.199902
190,571,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",3,0.110814,-2.199902
191,574,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",3,0.110814,-2.199902

-430.17078394912363
-382.8146166788923

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,578,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",4,0.140205,-1.964653
1,579,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",4,0.579386,-0.545785
2,580,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",4,0.140205,-1.964653
3,582,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",4,0.140205,-1.964653
4,592,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",4,0.140205,-1.964653
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,1133,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",4,0.140205,-1.964653
178,1137,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['white', 'blue']",4,0.579386,-0.545785
179,1142,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'blue']",4,0.579386,-0.545785
180,1145,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['green', 'red']",4,0.579386,-0.545785
181,1146,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",4,0.579386,-0.545785

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,578,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",4,0.148344,-1.908218
1,579,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",4,0.851656,-0.160573
2,580,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",4,0.148344,-1.908218
3,582,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",4,0.148344,-1.908218
4,592,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",4,0.148344,-1.908218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,1133,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",4,0.148344,-1.908218
178,1137,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['white', 'blue']",4,0.851656,-0.160573
179,1142,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'blue']",4,0.851656,-0.160573
180,1145,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['green', 'red']",4,0.851656,-0.160573
181,1146,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",4,0.851656,-0.160573

-290.8801008443447
-265.1563741931076

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,0,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",5,0.095589,-2.347694
1,1,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",5,0.713232,-0.337949
2,4,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",5,0.095589,-2.347694
3,5,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",5,0.095589,-2.347694
4,11,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",5,0.095589,-2.347694
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,567,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",5,0.095589,-2.347694
188,569,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'green']",5,0.713232,-0.337949
189,572,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",5,0.713232,-0.337949
190,573,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",5,0.095589,-2.347694
191,575,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",5,0.095589,-2.347694

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,0,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",5,0.113879,-2.172621
1,1,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",5,0.886121,-0.120901
2,4,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",5,0.113879,-2.172621
3,5,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",5,0.113879,-2.172621
4,11,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",5,0.113879,-2.172621
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,567,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",5,0.113879,-2.172621
188,569,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'green']",5,0.886121,-0.120901
189,572,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",5,0.886121,-0.120901
190,573,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",5,0.113879,-2.172621
191,575,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",5,0.113879,-2.172621

-396.4940891083982
-361.7468171182326

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,577,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['green', 'blue']",6,0.681139,-0.383989
1,578,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",6,0.106287,-2.241611
2,579,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",6,0.106287,-2.241611
3,580,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",6,0.106287,-2.241611
4,581,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",6,0.106287,-2.241611
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,1129,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",6,0.106287,-2.241611
181,1135,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",6,0.106287,-2.241611
182,1136,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",6,0.106287,-2.241611
183,1141,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",6,0.106287,-2.241611
184,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",6,0.106287,-2.241611

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,577,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['green', 'blue']",6,0.881425,-0.126215
1,578,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",6,0.118575,-2.132209
2,579,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",6,0.118575,-2.132209
3,580,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['white', 'blue']",6,0.118575,-2.132209
4,581,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",6,0.118575,-2.132209
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,1129,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",6,0.118575,-2.132209
181,1135,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",6,0.118575,-2.132209
182,1136,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",6,0.118575,-2.132209
183,1141,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",6,0.118575,-2.132209
184,1150,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",6,0.118575,-2.132209

-342.2508091164526
-316.2249539114165

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,0,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",7,0.625700,-0.468884
1,1,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",7,0.124767,-2.081311
2,2,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",7,0.124767,-2.081311
3,6,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",7,0.124767,-2.081311
4,7,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",7,0.124767,-2.081311
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,565,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",7,0.124767,-2.081311
184,567,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",7,0.124767,-2.081311
185,568,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",7,0.124767,-2.081311
186,572,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",7,0.124767,-2.081311
187,575,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'green']",7,0.625700,-0.468884

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,0,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",7,0.868161,-0.141378
1,1,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",7,0.131839,-2.026175
2,2,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",7,0.131839,-2.026175
3,6,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",7,0.131839,-2.026175
4,7,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['green', 'red']",7,0.131839,-2.026175
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,565,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",7,0.131839,-2.026175
184,567,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['red', 'blue']",7,0.131839,-2.026175
185,568,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",7,0.131839,-2.026175
186,572,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",7,0.131839,-2.026175
187,575,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,0.0,"['white', 'green']",7,0.868161,-0.141378

-334.85148815007534
-314.9530412274524

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,576,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",8,0.133085,-2.016766
1,584,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",8,0.133085,-2.016766
2,585,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",8,0.133085,-2.016766
3,597,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",8,0.133085,-2.016766
4,599,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",8,0.133085,-2.016766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1142,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",8,0.133085,-2.016766
188,1144,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['green', 'red']",8,0.600745,-0.509585
189,1147,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",8,0.133085,-2.016766
190,1149,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",8,0.133085,-2.016766
191,1150,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",8,0.600745,-0.509585

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,576,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'red']",8,0.1399,-1.966828
1,584,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",8,0.1399,-1.966828
2,585,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",8,0.1399,-1.966828
3,597,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",8,0.1399,-1.966828
4,599,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",8,0.1399,-1.966828
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1142,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",8,0.1399,-1.966828
188,1144,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['green', 'red']",8,0.8601,-0.150706
189,1147,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,1.0,"['white', 'red']",8,0.1399,-1.966828
190,1149,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",8,0.1399,-1.966828
191,1150,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['white', 'red']",8,0.8601,-0.150706

-301.3097963848665
-274.1120756226634

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,2,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['red', 'blue']",9,0.751034,-0.286304
1,5,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",9,0.082989,-2.489052
2,8,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",9,0.082989,-2.489052
3,11,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",9,0.082989,-2.489052
4,14,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",9,0.082989,-2.489052
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,560,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",9,0.751034,-0.286304
187,562,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",9,0.082989,-2.489052
188,566,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",9,0.082989,-2.489052
189,571,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",9,0.082989,-2.489052
190,573,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",9,0.082989,-2.489052

,Unnamed: 0,part,condition,nWhites,nGreens,nReds,nBlues,answer,accuracy,questionsOptions,participant,p_bar,log_p
0,2,mixed,2-alt-with-dom,11.0,11.0,16.0,11.0,red,0.0,"['red', 'blue']",9,0.889893,-0.116654
1,5,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",9,0.110107,-2.206299
2,8,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['green', 'blue']",9,0.110107,-2.206299
3,11,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'green']",9,0.110107,-2.206299
4,14,mixed,2-alt-with-dom,11.0,16.0,11.0,11.0,green,1.0,"['white', 'green']",9,0.110107,-2.206299
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,560,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,0.0,"['red', 'blue']",9,0.889893,-0.116654
187,562,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'blue']",9,0.110107,-2.206299
188,566,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['green', 'blue']",9,0.110107,-2.206299
189,571,mixed,2-alt-with-dom,11.0,11.0,11.0,16.0,blue,1.0,"['red', 'blue']",9,0.110107,-2.206299
190,573,mixed,2-alt-with-dom,16.0,11.0,11.0,11.0,white,1.0,"['white', 'red']",9,0.110107,-2.206299

-415.9347292787835
-364.9827737778074